#testimonials {
    /*justify-content: center;*/
    margin: 20px;
}


.testimonials__card--img img {
    width: 50%;
    height: auto;
    display: block; /* Elimina el espacio debajo de la imagen */
}

.testimonials__card--content {
    position: absolute;/*no deja espacio libre*/
    top: 300px;
    left: 400px;
    overflow: visible;
    width: 30%; /* contenido ancho */
    height: 40%; /* contenido altura */
    padding: 10px; /* Espaciado interno alrededor del contenido */
    background-color: rgba(0, 128, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
}


.testimonials__card:hover .testimonials__card--content {
    opacity: 1; /* Hace que el contenido sea visible al pasar el ratón */
}